:root {
	--color-main: #ffe0cb;
	--color-second: #ffa55c;
	--color-third: #ceaad0;
	--color-footer: #ab8261;
	--color-title: #1f1711;

}

body {
	font-family: Montserrat, Arial, sans-serif;
	color: #312c27;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	
}

h1 {
	font-family: Gabriola;
	font-size: 74px;
	font-style: normal;
	font-weight: 400;
	line-height: 82%;
	color: var(--color-title);
}

h2 {
	font-family: Gabriola;
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	color: var(--color-title);

}

h3 {
	font-family: Gabriola;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	color: var(--color-title);
}

button {
	font-weight: 500;
	line-height: 160%;
}

.btn {
	display: flex;
	width: 100%;
	padding: 5px 15px;
	height: 62px;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	background: var(--color-second);
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
	transition: all 0.5s;
}

.btn:hover {
	background: #FF9138;
}

.p-upper {
	line-height: 160%;
	text-transform: uppercase;
}

.gabriola-font {
	font-family: Gabriola, sans-serif;
	color: #1f1711;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

/* ==========header============== */

.header {
	position: relative;
	width: 100%;
	max-height: 721px;
	background: url(../img/heroFon.png) 50% 100%/cover no-repeat;
}



.head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 19px;
	
}

.head__logo img {
	max-height: 60px;
}

.head__nav {
	/* margin: 29px 0 7px 0; */
	
}

.head__list {
	display: flex;
	gap: 40px;
}

.head__item {
	
}

.head__link {
	display: block;
	position: relative;
	padding: 5px 0;
	z-index: 1;

}

.head__link:before {
	content: '';
	position: absolute;
	top: -8px;
	left: -13px;
	z-index: -1;
	width: 34px;
	height: 34px;
	background: var(--color-second);
	border-radius: 50px;
	opacity: 0;
	transition: all 0.3s;
}

.head__link:hover:before {

	opacity: 1;
}

.header__content {
	/* display: flex; */
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: end;
	gap: 30px;
}

.notice {
	padding: 130px 0 140px;
	max-width: 520px;
}

.notice__data {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #B197B2;
}

.notice__title {
	padding: 20px 0 30px 0;
}

.notice__text {
	max-width: 70%;
}

.notice__btn {
	margin-top: 40px;
}

.video {
	width: 100%;
	height: 100%;
	padding: 48px 0 140px;
}

.video__block {
	
		border-radius: 20px;
		position: relative;
	/* margin: 130px 0 140px 0; */
	max-width: 377px;
	
	
}

.video__woman {
	height: 454px;
}

.video__play {
	display: flex;
	position: absolute;
	bottom: 8%;
	/* left: 336px; */
	left: calc(100% - 39px);

	align-items: center;
	max-width: 200px;

}



.play__link{
	width: 78px;
	height: 78px;
	
}
.play__text{
	
}

.play__link:hover {
	border-radius: 100px;
	outline: 1px solid var(--color-second);
	outline-offset: -20px;
	padding: 5px 5px 0px 5px;
	
}

/* ======================= */

.our-school {
	padding: 140px 0;

}

.container {}

.our-school__iner {
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.our-school__foto {
	width: 603px;
	height: 543px;
	background: url(../img/blonde-woman.png) center center/cover no-repeat;
	z-index: -1;
	
	
}



.our-school__content {}

.our-school__title {}

.our-school__text-one {}

.our-school__text-two {}

.our-school__cards {}

.our-school__card {}