:root {
    --color-main: #FFE0CB;
    --color-second: #FFA55C;
    --color-third: #CEAAD0;
    --color-footer: #AB8261;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    color: #312C27;
    line-height: 150%;
}

h1 {
    font-family: Gabriola;
    font-size: 74px;
    font-style: normal;
    font-weight: 400;
    line-height: 82%;
}

h2 {
    font-family: Gabriola;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}

h3 {
    font-family: Gabriola;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}
button{
    
font-weight: 500;
line-height: 160%;
}
.p-upper{
        
    line-height: 160%; 
    text-transform: uppercase;
}


.gabriola-font {
    font-family: Gabriola, sans-serif;
    color: #1F1711;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}