.footer {
	min-height: 253px;
	background: var(--color-footer);
	color: #fff9f4;
}

.footer__iner {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.footer__logo-social {
	margin-top: 30px;
}

.footer__logo {
	display: block;
	max-width: 240px;
}

.footer__logo img {
	width: 100%;
}

.footer__social {
	margin-top: 20px;
	display: flex;
	gap: 15px;
}

.social__link path {
	transition: all 0.4s;
}

.social__link:hover path {
	fill: var(--color-second);
}

.footer__nav {
	margin-top: 60px;
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__item {
	padding: 0;
}

.footer__location {
	margin-top: 60px;
}

.footer__time {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 10px;
}

.footer__adres {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer__contact {
	margin-top: 60px;
	text-align: right;
	padding-bottom: 20px;
}

.footer__copyright {
	color: #dec5b1;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 47px;
	justify-content: end;
}
