body {
    background: #181E34;
    font-size: 16px;
    line-height: 150%;
    font-family: "Montserrat", "Arial", sans-serif;
    color: white;
}

button {
    background: white;
    color: #2766AE;
    padding: 14px 30px 14px 30px;
    border-radius: 100px;
    font-weight: 500;
}

header {
    display: flex;
    padding: 30px 275px 36px 270px;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}